<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makardhwaj || Portfolio</title>
    <!-- meta link -->
    <meta name="description" content="Welcome to my portfolio! I'm a full stack web developer specializing in Node.js, Express.js, MongoDB, HTML, CSS, and JavaScript. Explore my projects and services to see how I can help bring your ideas to life.">
    <!-- css -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/cv.css">
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dark.css">
    <link rel="stylesheet" href="/css/darkmode.css">
    <link rel="stylesheet" href="/css/preloder.css">
     <!-- icons link -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- font link -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rosarivo:ital@0;1&family=Rubik:wght@300&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Trocchi&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
     <!-- icon in title -->
     <link rel="shortcut icon" href="/css/character.jpg" type="image">
</head>
<body>
    <div class="mainbox1">
        
        <div class="container">
            <label class="toggle" for="switch" >
                <input id="switch" class="input" type="checkbox" onchange="toggleDarkMode()">
                <div class="icon icon--moon">
                    <svg height="32" width="32" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" fill-rule="evenodd"></path>
                    </svg>
                </div>
            
                <div class="icon icon--sun">
                    <svg height="32" width="32" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"></path>
                    </svg>
                </div>
            </label>
        </div>
    </div>
    <div class="mainbox">
        <div class="leftmain">
            <div class="leftimagebox">           
                    <!-- <img src="https://st4.depositphotos.com/5934840/27053/v/450/depositphotos_270534534-stock-illustration-businessman-avatar-cartoon-character.jpg" alt="Your Image"> -->
                    <div class="imgagmain"></div>
              </div>
              
              
            <div class="leftbox">
                <h3 class="name">Makardhwaj Surwase</h3>
                <div class="leftbox1">Web Developer</div>
                <div class="social">
                   <a href="https://github.com/mrms106"> <div class="f sociali"><i class="fa-brands fa-github"></i></div></a>
                   <a href="https://twitter.com/"><div class="t sociali"><i class="fa-brands fa-x-twitter"></i></div></a>
                   <a href="https://www.instagram.com/mr.ms_106/"> <div class="i sociali"><i class="fa-brands fa-instagram"></i></div></a>
                   <a href="https://www.linkedin.com/in/makardhwaj-surwase-0a34b827b/"> <div class="l sociali"><i class="fa-brands fa-linkedin"></i></div></a>
                </div>
                <div class="conatct">
                    <div class="contact1">
                        <div class="contacticon p" ><i class="fa-solid fa-mobile-screen" ></i>
                        </div>
                        <div class="conatactdetails">
                            <div class="contact1child">phone</div>
                            <div class="contact1child2">+91 779831**13</div>
                        </div> 
                    </div>
                    <div class="contact1">
                        <div class="contacticon e"><i class="fa-solid fa-envelope-open-text" ></i>
                        </div>
                        <div class="conatactdetails">
                            <div class="contact1child">Email</div>
                            <div class="contact1child2">mhs93679@gmail.com</div>
                        </div> 
                    </div>
                    <div class="contact1">
                        <div class="contacticon lo"><i class="fa-solid fa-location-dot" ></i>
                        </div>
                        <div class="conatactdetails">
                            <div class="contact1child ">Location</div>
                            <div class="contact1child2">Karve Nager,Pune</div>
                        </div> 
                    </div>
                    <div class="contact1" style="border-bottom:none !important;">
                        <div class="contacticon b"><i class="fa-regular fa-calendar-days " ></i>
                        </div>
                        <div class="conatactdetails" >
                            <div class="contact1child" >Birthday</div>
                            <div class="contact1child2">June 10,2001</div>
                        </div> 
                    </div>         
                </div>
                <div class="cvbox"><a href="makardhwaj-cv.pdf" target="_blank"> Download Cv &nbsp;<i class="fa-solid fa-download"></i></a></div>
            </div>
        </div>

        <div class="rightboxmain">
            <div class="rightbox" id="about">
                <h2>
                About
                </h2>
                <p>
                    🚀 Welcome to my corner of the digital universe! 🌟<br><br>

                    I'm Makardhwaj, a passionate full stack web developer
                    with an insatiable curiosity for crafting remarkable
                    digital experiences. Armed with an arsenal of technologies
                     including HTML, CSS, Node.js, JavaScript, MongoDB, Express.js, 
                     Bootstrap, and React.js, I embark on journeys through code to bring 
                     visions to life.

                </p>
                <div class="rightboxb1">
                   <h3> What i Do!</h3>
                    <div class="aboutbox">
                        <div class="aboutboxchild">
                            <div class="child1">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                            <div class="child2">
                                <h3>Problem Solver</h3>
                                <p>
                                    With a keen eye for detail and a knack for finding elegant solutions,
                                     I tackle complex challenges head-on, 
                                    turning obstacles into opportunities for innovation.

                                </p>
                            </div>
                        </div>
                        <div class="aboutboxchild1">
                            <div class="child1">
                                <i class="fa-solid fa-rocket" style="color: rgba(164, 108, 4, 0.507);"></i>
                            </div>
                            <div class="child2">
                                <h3>Agile Collaboratorr</h3>
                                <p>
                                    Thriving in dynamic team environments,
                                     I bring enthusiasm and adaptability to every project,
                                     fostering collaboration and driving towards shared goals.
                                </p>
                            </div>
                        </div>
                        <div class="aboutboxchild1">
                            <div class="child1">
                                <i class="fa-regular fa-comment" style="color: rgba(71, 71, 244, 0.566);"></i>
                            </div>
                            <div class="child2">
                                <h3> Clear Communicator</h3>
                                <p>
                                    Expert at conveying project needs, sharing ideas, and giving feedback concisely,
                                     fostering seamless collaboration and mutual understanding.

                                </p>
                            </div>
                        </div>
                        <div class="aboutboxchild">
                            <div class="child1">
                                <i class="fa-solid fa-chart-line" style="color: rgba(233, 65, 65, 0.844);"></i>
                            </div>
                            <div class="child2">
                                <h3>Results-Oriented</h3>
                                <p>
                                    Driven by a passion for delivering excellence, I focus on tangible results,
                                     continuously striving to exceed expectations and achieve measurable success.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
         </div>
         <div class="cvmain" id="resume" style="display: none;">
            <div class="cvmbox">
                <h2>Resume</h2>
            </div>
            <div class="maincvbox" >
                <div class="education">
                  <h2><i class="fa-solid fa-graduation-cap" style="color: rgba(26, 26, 255, 0.741);"></i>&nbsp;&nbsp; Education</h2>
                  <div class="edubox">
                    <div class="eduboxchild coursebg">
                        <div class="year">2022-2024</div>
                        <div class="edupara">MSC in Computer Science,</div>
                        <div class="edupara2">from College of computer science and information technology Latur. </div>
                    </div>
                  </div>
                  <div class="edubox edubg">
                    <div class="eduboxchild ">
                        <div class="year">2019-2022</div>
                        <div class="edupara">Bsc in Computer Science,</div>
                        <div class="edupara2">from College of computer science and information technology Latur. </div>
                    </div>
                  </div>
                 
                  
                </div>
                <div class="courses">
                   <h2> <i class="fa-solid fa-laptop-code"style="color: rgba(26, 26, 255, 0.741);"></i>&nbsp;&nbsp;Courses</h2>
                   <div class="coursebox  edubg">
                    <div class="eduboxchild">
                        <div class="year">April-2023</div>
                        <div class="edupara">Full Stack Java,</div>
                        <div class="edupara2">from Profound Edutech Pune. </div>
                    </div>

                   </div>
                   <div class="coursebox coursebg">
                    <div class="eduboxchild">
                        <div class="year">March-2024</div>
                        <div class="edupara">Web Developement,</div>
                        <div class="edupara2">from Apna College. </div>
                    </div>
                    
                   </div>

                </div>
            </div>
            <div class="skillbox">
                <div class="skillname">Skills</div>
                <div class="skillboxchild1"> 
                    <div class="skillboxchild1-1">
                        <div class="skill">
                            <div class="skill-name">HTML</div>
                            <div class="skill-bar">
                                <div class="skill-per" style="max-width:90%;background: rgba(250, 50, 50, 0.697);">
                                </div>
                            </div>
                        </div>
                    
                        <div class="skill">
                        <div class="skill-name">CSS</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="70%" style="max-width:75%; background: rgba(128, 0, 128, 0.649);"></div>
                            </div>
                        </div>
                    
                        <div class="skill">
                        <div class="skill-name">Javascript</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="60%" style="max-width:68%;background: rgba(65, 65, 254, 0.549);"></div>
                            </div> 
                        </div>
                
                        <div class="skill">
                            <div class="skill-name">Bootstrap</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="75%" style="max-width:60%; background: rgba(213, 29, 213, 0.566);"></div>
                           </div> 
                        </div>
                        <div class="skill">
                            <div class="skill-name">ReactJs</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="60%%" style="max-width:60%; background: rgba(151, 56, 56, 0.533);"></div>
                           </div> 
                        </div>
                        <div class="skill">
                            <div class="skill-name">git</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="75%%" style="max-width:60%; background: rgba(57, 57, 141, 0.499);"></div>
                           </div> 
                        </div>
                    </div>             
                    <div class="skillboxchild1-1">
                        <div class="skill">
                            <div class="skill-name">NodeJs</div>
                            <div class="skill-bar">
                                <div class="skill-per" style="max-width:70%;background: rgba(151, 56, 56, 0.533);"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="skill-name">MongoDB</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="70%" style="max-width:70%;background: rgba(57, 57, 141, 0.499);"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="skill-name">SQL</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="70%" style="max-width:70%;background: rgba(213, 29, 213, 0.566);"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="skill-name">python</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="50%" style="max-width:70%;background: rgba(65, 65, 254, 0.549);"></div>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="skill-name">Java</div>
                            <div class="skill-bar">
                                <div class="skill-per" style="max-width:60%;background: rgba(128, 0, 128, 0.649);"></div>
                            </div>
                        </div> 
                        <div class="skill " style="margin-bottom: 2rem;">
                            <div class="skill-name">github</div>
                            <div class="skill-bar">
                                <div class="skill-per" per="80%%" style="max-width:80%;  background: rgba(250, 50, 50, 0.697);;"></div>
                           </div> 
                        </div>                 
                    </div>
                </div>
            </div>
            <div class="copyright">
                © 2024 All Rights Reserved by Makardhwaj
            </div>
        </div> 
         <div class="projectmain" id="projects" style="display: none;">
            <div class="projectname">
                Projects
            </div>
            <div class="projectbox">
               <a href="https://ssfixturing.com/" target="_blank"> <div class="card card2" style="width: 18rem;">
                    <img src="/images/ssimage.jpeg" alt="...">
                    <div class="card-body"></a>
                        <h3>SS Fixturing</h3>
                      <p class="card-text">
                        The website serves as a testament to my skills in
                        crafting user-friendly interfaces and implementing
                        interactive features.</p>
                    </div>
                </div>
                <a href="https://vacation-rental-website.onrender.com" target="_blank"> <div class="card " style="width: 18rem;">
                    <img src="https://imadtravel.com/wp-content/uploads/2023/05/Benefits-of-Booking-with-a-Travel-Agent_IMAD-Travel.webp" alt="...">
                    <div class="card-body"></a>
                        <h3>Wanderlust- Vacation rental</h3>
                      <p class="card-text">Built a dynamic vacation rental platform using HTML,
                        CSS, JavaScript, Node.js, and MongoDB, showcasing
                        full-stack development expertise .</p>
                    </div>
                </div>
                <a href="https://vegetables-fruits-online-buying.onrender.com" target="_blank">  <div class="card" style="width: 18rem;">
                    <img src="https://www.marketgalee.com/images/blog/bedc0a350c32cfdba175948999e2b34f.png" class="card-img-top" alt="...">
                    <div class="card-body"></a>
                        <h3>Vegetables and Fruits-Buying Online</h3>
                      <p class="card-text">
                        Revolutionizing shopping with Node.js, HTML/CSS/JS, and MongoDB for a seamless experience. .</p>
                    </div>
                </div>
                <a href="https://weather-hho6.onrender.com/" target="_blank"> <div class="card card2" style="width: 18rem;">
                    <img src="https://9to5mac.com/wp-content/uploads/sites/6/2023/04/Apple-Weather-app.jpg?quality=82&strip=all&w=1600" class="card-img-top" alt="...">
                    <div class="card-body"></a>
                        <h3>Weather App</h3>
                      <p class="card-text">Stay ahead with WeatherNow! Node.js powers real-time weather updates for your location or any city worldwide. Simple, sleek, and always on point.</p>
                    </div>
                </div>
                <a href="https://ridego-webpage.onrender.com/" target="_blank"> <div class="card" style="width: 18rem;">
                    <img src="/images/ridego.png" class="card-img-top" alt="...">
                    <div class="card-body"></a>
                        <h3>Ride-GO -- Bike rental company website</h3>
                      <p class="card-text">Crafted to perfection, boasting a sleek design and seamless navigation tailored to my client's requirements.</p>
                    </div>
                </div>

            </div>
            <div class="copyrightproject">
                © 2024 All Rights Reserved by Makardhwaj
            </div>
            
        </div>
        <div class="contactmain" id="contact" style="display: none;">
            <div class="contctname">
                Contact Me
            </div>
            <div class="contctbox">
               <div class="contactheading">
                    <p>I'm Always Open To Discussing Product</p>
                    <p class="contactpara"> design work or partnerships.</p>
               </div>
               <form class="form" method="post" action="/home">
                <input name="form[name]" type="name" placeholder="Name" required>
                <input name="form[email]" type="email" placeholder="E-mail" required>
                <textarea name="form[message]"  placeholder="Message" required></textarea>
                <button>Submit</button>


               </form>
            </div>
            <div class="copyrightcontact">
                © 2024 All Rights Reserved by Makardhwaj
            </div>
        </div>
        <div class="navbox">
           <div class="about navbox1" onclick="toggleSection('about')"><i class="fa-regular fa-user"></i><span>About</span></div>
            <div class="resume navbox1" onclick="toggleSection('resume')"><i class="fa-regular fa-file-lines"></i><span>Resume</span></div>
            <div class="project navbox1" onclick="toggleSection('projects')"><i class="fa-solid fa-business-time"></i><span>Projects</span></div>
            <div class="contactme navbox1" onclick="toggleSection('contact')"><i class="fas fa-envelope"></i><span>Contact</span></div>
        </div>
    </div>
    <script src="home.js"> </script>
    

    
</body>
</html>