body.darkmode{
    background-image: url("darkbg.jpg");
    color: white; 
    font-family: "Rosarivo", cursive;
    transition: 0.1s;
}

.darkmode .leftbox{
    background-color: black;
    transition: 0.1s;

}

.darkmode .leftbox1{
    background-color: rgb(44, 44, 44);
    transition: 0.1s;

}
.darkmode .imgagmain{
    background-image: url("characterdark.png");
    transition: 0.1s;

}
.darkmode .f{
    color: white;
}
.darkmode .t{
    color: white;
}
.darkmode .sociali {
    background-color: rgb(44, 44, 44);
    transition: 0.1s;

}
.darkmode .sociali:hover{
    background-color: blue;

}
.darkmode .conatct{
    background-color: rgb(44, 44, 44);
    transition: 0.1s;

}
.darkmode .contacticon{
    background-color: rgb(81, 80, 80);
    transition: 0.1s;

}
.darkmode .contacticon:hover{
    background-color: blue;
}
.darkmode .aboutboxchild{
    background-color: rgb(44, 44, 44);
    transition: 0.1s;

}
.darkmode .aboutboxchild1{
    background-color: rgb(44, 44, 44);
    transition: 0.1s;

}
.darkmode  .rightboxmain{
    background-color: black;
    transition: 0.1s;

}
.darkmode .contactmain{
    background-color: black;
    transition: 0.1s;

}

.darkmode .contctbox{
    background-color: rgb(44, 44, 44);
    transition: 0.1s;


}
.darkmode .contactheading{
    color: #cbcbcb;
}
.darkmode .contactpara{
    color: white;
}
.darkmode input{
    background-color: rgb(44, 44, 44);
    color: white;
}
.darkmode textarea{
    background-color: rgb(44, 44, 44);
    color: white;
}
.darkmode .copyrightcontact{
    background-color: rgb(44, 44, 44);

}
.darkmode .cvmain{
    background-color: black;
}
.darkmode .edubox{
    background-color: rgb(44, 44, 44);
}
.darkmode .coursebox{
    background-color: rgb(44, 44, 44);
}
.darkmode .coursebg{
    background-color: rgb(44, 44, 44);
}
.darkmode .skillbox{
    background-color: rgb(44, 44, 44);
}
.darkmode .navbox{
    background-color: black;
    transition: 0.1s;

}
.darkmode .navbox1{
color: white;
 background-color: rgb(44, 44, 44);
 transition: 0.1s;

}
.darkmode .navbox1:hover{
    background-color: blue;
}
.darkmode .projectmain{
    background-color: black;
}
.darkmode .card{
    background-color: rgb(44, 44, 44) !important;
}
.darkmode .card2{
    background-color: rgb(44, 44, 44) !important;
}
.darkmode .copyrightproject{
    background-color: rgb(44, 44, 44);
}
@media(max-width:768px){
    .darkmode .navbox{
        background-color: transparent;
    }
}