body{
    background-image: url("bgimage.jpg");
    color: black;
    font-family: "Sansita", sans-serif;
    transition: 0.1s;

}

.mainbox{
    display: flex;
    margin-top: 8rem;
    margin-left: 5rem;
}

.leftmain{
    /* display: flex;
    flex-direction: column; */
}

.leftbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    min-width: 24vw;
    min-height: 90vh;
    border-radius: 20px;
    transition: 0.1s;

    
}
.leftimagebox{
    position: relative;
    width: 200px; 
    height: 100px; 
    margin-left: 5rem;    
}
.imgagmain{
    position: relative;
    width: 230px;
    height: 230px;
    background-image: url("character.jpg");
    background-size: cover; 
    background-position: center; 
    margin-left: 0rem;
    border-radius: 10px;
    transition: 0.1s;

    

}
.leftimagebox img{
    border-radius: 10px;
    width: 230px;
}
.name{
    font-size: 30px;
    margin-top: 10rem;
}
.leftbox1{
    width: 170px;
    height: 20px;
    padding: 15px;
    background-color: rgb(240, 239, 239);
    border-radius: 10px;  
    font-size: 20px;
    transition: 0.1s;

}
.social{
    display: flex;
    margin-top: 2rem;
}
.sociali{
    margin-left: 15px;
    font-size: 23px;
    background-color: rgb(247, 246, 246);
    width: 50px;
    height: 35px;
    border-radius: 7px;
    padding-top: 10px;
    transition: 0.1s;

}
.sociali:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.f{
    color: black;
}
.t{
    color: black;
}
.i{
    color: #E4405F;
}
.l{
    color: blue;
}
.conatct{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 20vw;
    background-color: rgb(247, 246, 246);
    margin-top: 2rem;
    border-radius: 20px;
    /* margin-bottom: 2rem; */
    padding-top: 1rem;
    transition: 0.1s;

   
}
.contact1{
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-bottom: 15px;
    margin-top: 1.3rem;
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 15vw;
    margin-left: 20px;
    transition: 0.1s;

    
}

.contacticon{
padding: 13px;
width: 20px;
height: 20px;
font-size: 20px;
background-color: white;
border-radius: 10px;
transition: 0.1s;

}
.p{
   color: red; 
}
.e{
    color: green;
}
.lo{
    color: rgb(248, 52, 52);
}
.b{
    color: purple;
}
.contacticon:hover{
    background-color: blue;
    color: white !important;
    cursor: pointer;
}
.conatactdetails{
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
    text-align: start;
    transition: 0.1s;

}
.contact1child{
    margin-left: 13px;
    margin-bottom: 8px;
    font-size: 15px;
}
.contact1child2{
    margin-left: 14px;
    font-size: 18px;
}
.cvbox{
    width: 180px;
    height: 35px;
    background-color: rgb(96, 96, 255);
    border-radius: 10px;
    margin-top: 2rem;
    color: white;
    padding-top: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: 0.1s;


}
.cvbox a{
    text-decoration: none;
    color: white;
}

.rightboxmain{
    min-height: 90vh;
    max-width: 55vw;
    background-color: white;
    border-radius: 20px;
    margin-left: 2rem;
    transition: 0.1s;


}
.rightbox{
   margin-left: 4rem;
   margin-top: 5rem;
}
.rightbox h2{
    font-size: 3rem;
}
.rightbox p{
    font-size: 18px;
    margin-right: 14rem;
}
.rightbox h3{
    font-size: 2rem;
}
.rightboxb1{
    margin-top: 3rem;
}
.aboutbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.aboutboxchild{
    width: 22rem;
    height: 13rem;
    background-color: #fff4f4;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
   display: flex;
   flex-direction: row;
   transition: 0.1s;


}
.aboutboxchild1{
    width: 22rem;
    height: 13rem;
    background-color: #eef5fa;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
   flex-direction: row;
   transition: 0.1s;

    
}
.child1{
    font-size: 30px;
    color: purple;
    margin-left: 20px;
    margin-right: 1rem;
    margin-top: 1.7rem;
}
.child2 p{
   width: 18rem;
}
.child2 h3{
   font-size: 27px;
}

@media(max-width:1024px){
    .mainbox{
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        
    }
    .leftbox{
       width: 24rem;
       margin-left: 0;
       margin-bottom: 2rem;
    }
    .conatct{
        width: 20rem;
        height: auto;
    }
    .contact1{
        width: 15rem;
    }
}
@media(min-width:1024px ) and (max-width:1600px){
    .leftimagebox{
        margin-left: 17%;
    }

.leftbox{
       width: auto;
       margin-left: 0;
      
    }
    .conatct{
        width: auto;
        
    }
    .contact1{
        width: auto;
    }
}