.navbox{
    width: 8rem;
    height: 32rem;
    background-color: white;
    margin-left: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.navbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 70px;
    background-color: #f8fbfb;
    margin-top: 3rem;
    border-radius: 10px;
    margin-left: 0.7rem;
    color: #44566c;
    cursor: pointer;
    
}
.navbox1:hover{
    background-color: rgb(77, 77, 234);
    color: white;
}
.navbox1 i{
font-size: 30px;
padding-top: 10px;
margin-bottom: -20px;
}
.navbox1 span{
    font-size: 19px;
    margin-top: 1.4rem;
}
@media(max-width:1024px){
    .navbox{
        width: 24rem;
        height: 6.5rem;
        background-color: transparent;
        margin-left: 0.1rem;
        margin-right: 1rem;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        margin-bottom: 0rem;
        position: fixed; 
        bottom: 0.1rem;
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 999; 

    }
    .navbox1{
        margin-top: 1rem;
        width: 80px;
        height: 70px;
    }
}