
.rightboxmain{
    min-height: 90vh;
    max-width: 55vw;
    background-color: white;
    border-radius: 20px;
    margin-left: 2rem;

}
.rightbox{
   margin-left: 4rem;
   margin-top: 5rem;
}
.rightbox h2{
    font-size: 3rem;
}
.rightbox p{
    font-size: 18px;
    margin-right: 14rem;
}
.rightbox h3{
    font-size: 2rem;
}
.rightboxb1{
    margin-top: 3rem;
}
.aboutbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.aboutboxchild{
    width: 22rem;
    height: 15rem;
    background-color: #fff4f4;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
   display: flex;
   flex-direction: row;
   margin-bottom: 1rem;

}
.aboutboxchild1{
    width: 22rem;
    height: 15rem;
    background-color: #eef5fa;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
   flex-direction: row;
   margin-bottom: 1rem;

    
}
.child1{
    font-size: 30px;
    color: purple;
    margin-left: 20px;
    margin-right: 1rem;
    margin-top: 1.7rem;
}
.child2 p{
   width: 18rem;
}
.child2 h3{
   font-size: 27px;
}

@media(max-width:768px){
    .rightboxmain{
      max-width: 24rem;  
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .rightbox{
        margin-left: 1rem;
        margin-top: 1rem;
     }
     .rightbox p{
      
        margin-right: 0px;
    }
    .aboutboxchild{
        margin-left: 1px;
        margin-bottom: 1rem;
    }
    .aboutboxchild1{
        margin-left: 1px;
        margin-bottom: 1rem;
    }
    .aboutbox{
        margin-bottom: 2rem;
    }
}