.cvmain{
    min-height: 90vh;
    min-width: 55vw;
    background-color: white;
    border-radius: 20px;
    margin-left: 2rem;
    /* display: flex;
    flex-direction: column  ; */
}
.cvmbox{
    margin-left: 4rem;
    margin-top: 5rem;
    font-size: 2rem;
}
.maincvbox{
    display: flex;
    margin-left: 4rem;
    margin-top: 2rem;
}
.education{
    display: flex;
    flex-direction: column;
    
}
.education h2{
    font-size: 1.9rem;
}
.edubox{
    width: 22rem;
    height: 11rem;
    background-color: #fff4f4;
    border-radius: 10px;
    margin-top: 1rem;
}
.eduboxchild{
    margin-left: 2rem;
    margin-top: 1rem;
}
.year{
    margin-bottom: 10px;
}
.edupara{
    font-size: 25px;
    margin-bottom: 8px;
}
.courses{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.courses h2{
    font-size: 1.9rem;
}
.coursebox{
    width: 22rem;
    height: 9rem;
    background-color: #eef5fa;
    border-radius: 10px;
    margin-top: 1rem;
}
.edubg{
    background-color: #eef5fa;
}
.coursebg{
    background-color: #fff4f4;
}
.skillbox{
    height: auto;
    background-color: #f8fbfb;
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 2rem;
    
}
.skillname{
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.skillboxchild1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }  
  
  .skillboxchild1-1{
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 5px;
    background: rgba(199, 196, 196, 0.87);
    border-radius: 3px;
  }
  
  .skill-per{
    height: 5px;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
  }
.copyright{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
@media(max-width:768px){
    .cvmain{
        max-width: 24rem;  
        margin-left: 0rem;
        margin-bottom: 2rem;
    }
    .maincvbox{
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        margin-top: 2rem;
    }
    .courses{
        margin-left: 0;
    }
    .edubox{
        width: 20rem;
        margin-left: 1rem;
        height: auto;
        padding-bottom: 10px;
    }
    .coursebox{
        width: 20rem;
        margin-left: 1rem;
        height: auto;
        padding-bottom: 10px;

    }
}
  